# Default Krita

workspaces/VFX_Paint.kws
workspaces/Storyboarding.kws
workspaces/Small_Vector.kws
workspaces/Minimal.kws
workspaces/Default.kws
workspaces/Big_Vector.kws
workspaces/Big_Paint_2.kws
workspaces/Big_Paint.kws
workspaces/Animation.kws
windowlayouts/Dual screen editing.kwl
windowlayouts/Cockpit (laptop mode).kwl
symbols/preset_icons.svg
symbols/pepper_carrot_speech_bubbles.svg
symbols/BalloonSymbols.svg
seexpr_scripts/Disney_noisecolor2.kse
RGBA_brushes.bundle
resourcecache.sqlite
patterns/Zigzag04.pat
patterns/Zigzag03.pat
patterns/Zigzag02.pat
patterns/Zigzag01.pat
patterns/Stripes09.pat
patterns/Stripes08.pat
patterns/Stripes07.pat
patterns/Stripes06.pat
patterns/Stripes05.pat
patterns/Stripes04.pat
patterns/Stripes03.pat
patterns/Stripes02.pat
patterns/Stars_Sized.png
patterns/Squares10.pat
patterns/Squares09.pat
patterns/Squares08.pat
patterns/Squares07.pat
patterns/Squares06.pat
patterns/Squares05.pat
patterns/Squares04.pat
patterns/Squares03.pat
patterns/Squares02.pat
patterns/Squares01.pat
patterns/Sand_fine.png
patterns/Rough_Wall_With_Impasto.png
patterns/Rough_Paper.png
patterns/Pattern06.pat
patterns/Pattern05.pat
patterns/Pattern04.pat
patterns/Pattern03.pat
patterns/Pattern02.pat
patterns/Pattern01.pat
patterns/Maze_lines.png
patterns/HR_Wall_Paper.pat
patterns/HR_PastelPaper_02.pat
patterns/hexacolBW__2.pat
patterns/Grid05.pat
patterns/Grid04.pat
patterns/Grid03.pat
patterns/Grid02.pat
patterns/Grid01.pat
patterns/generic_paper2.pat
patterns/generic_paper1.pat
patterns/fractal_pattern.pat
patterns/DITH_3232_CSTR.pat
patterns/DITH_0808_WAVE.pat
patterns/DITH_0808_SWRL.pat
patterns/DITH_0808_SPOT.pat
patterns/DITH_0808_PANL.pat
patterns/DITH_0808_DIAM.pat
patterns/DITH_0808_CLUS.pat
patterns/DITH_0808_CIRC.pat
patterns/DITH_0808_BUBL.pat
patterns/DITH_0808_BL22_v.pat
patterns/DITH_0808_BL22.pat
patterns/DITH_0404_ZORO.pat
patterns/DITH_0404_WAVE.pat
patterns/DITH_0404_WAV2.pat
patterns/DITH_0404_VERT.pat
patterns/DITH_0404_SLIC.pat
patterns/DITH_0404_SHUR.pat
patterns/DITH_0404_HORZ.pat
patterns/DITH_0404_GEN_.pat
patterns/DITH_0404_ELLS.pat
patterns/DITH_0404_ELL3.pat
patterns/DITH_0404_ELL2.pat
patterns/DITH_0404_DIAG.pat
patterns/DITH_0404_CURL.pat
patterns/DITH_0404_CLUS.pat
patterns/DITH_0404_BL22.pat
patterns/DITH_0404_ALT_.pat
patterns/DITH_0202_VERT.pat
patterns/DITH_0202_HORZ.pat
patterns/DITH_0202_GEN_.pat
patterns/DITH_0202_CLUS.pat
patterns/Crumpled_Paper.pat
patterns/Cross07.pat
patterns/Cross06.pat
patterns/Cross05.pat
patterns/Cross04.pat
patterns/Cross03.pat
patterns/Cross02.pat
patterns/Cross01.pat
patterns/Abstract_lines.png
patterns/26_brush-marks.png
patterns/25-dynamic-screentone-C.png
patterns/24-dynamic-screentone-B.png
patterns/23-dynamic-screentone-A.png
patterns/22_texture-reptile.png
patterns/21_texture-chainmail.png
patterns/20_texture-vegetal.png
patterns/19_texture-crackle.png
patterns/18b_WaveFlex.png
patterns/18_texture-bark.png
patterns/17_texture-melt.png
patterns/16_texture-woody.png
patterns/15_texture-rockB.png
patterns/14_texture-rock.png
patterns/13_drawed_swirl.png
patterns/12_drawed_vertical.png
patterns/11_drawed_furry.png
patterns/10_drawed_dotted.png
patterns/09b_drawed-CrossedLines.png
patterns/09_drawed_crosshatched.png
patterns/08_bump-relief.png
patterns/06_hard-grain.png
patterns/05_paper-torchon.png
patterns/04_paper-C-grain.png
patterns/03_default-paper.png
patterns/02b_WoofTissue.png
patterns/02_rough-canvas.png
patterns/01_canvas.png
palettes/web.gpl
palettes/swatche.gpl
palettes/swatch-rgb.gpl
palettes/swatch-colored-grey.gpl
palettes/swatch-cmyk.gpl
palettes/ps.gpl
palettes/pixelart-32.gpl
palettes/pixelart-16.gpl
palettes/marker.gpl
palettes/gradient.gpl
palettes/default.gpl
palettes/concept-cookie.gpl
palettes/animation-color-set.gpl
paintoppresets/Textures.tag
paintoppresets/Sketch.tag
paintoppresets/Pixel_Art.tag
paintoppresets/Paint.tag
paintoppresets/j)_WaterC_Water-Pattern.kpp
paintoppresets/j)_WaterC_Spread_WideArea.kpp
paintoppresets/j)_WaterC_Spread.kpp
paintoppresets/j)_WaterC_Spread-Pattern.kpp
paintoppresets/j)_WaterC_Special_Splats.kpp
paintoppresets/j)_WaterC_Special_Blobs.kpp
paintoppresets/j)_WaterC_Flat_Decay_Tilt.kpp
paintoppresets/j)_WaterC_Flat_Big-Grain_Tilt.kpp
paintoppresets/j)_WaterC_Basic_Round-Grunge.kpp
paintoppresets/j)_WaterC_Basic_Round-Grain.kpp
paintoppresets/j)_WaterC_Basic_Round-Fringe_02.kpp
paintoppresets/j)_WaterC_Basic_Lines-Wet.kpp
paintoppresets/j)_WaterC_Basic_Lines-Wet-Pattern.kpp
paintoppresets/j)_WaterC_Basic_Lines-Dry.kpp
paintoppresets/Ink.tag
paintoppresets/i)_Wet_Paint_Plus_(mypaint)_prev.png
paintoppresets/i)_Wet_Paint_Plus_(mypaint).myb
paintoppresets/i)_Wet_Knife_Plus_(mypaint)_prev.png
paintoppresets/i)_Wet_Knife_Plus_(mypaint).myb
paintoppresets/FX.tag
paintoppresets/Favorites.tag
paintoppresets/Erasers.tag
paintoppresets/e)_Marker_Plain_(mypaint)_prev.png
paintoppresets/e)_Marker_Plain_(mypaint).myb
paintoppresets/e)_Marker_Medium_(mypaint)_prev.png
paintoppresets/e)_Marker_Medium_(mypaint).myb
paintoppresets/Digital.tag
paintoppresets/d)_Ink_pen_(mypaint)_prev.png
paintoppresets/d)_Ink_pen_(mypaint).myb
paintoppresets/c)_Pencil_2b_(mypaint)_prev.png
paintoppresets/c)_Pencil_2b_(mypaint).myb
paintoppresets/c)_Pencil_1_Sketch_(mypaint)_prev.png
paintoppresets/c)_Pencil_1_Sketch_(mypaint).myb
paintoppresets/b)_Basic-5_Size_default.kpp
paintoppresets/a)_Eraser_Circle.kpp
KRITA_RESOURCE_VERSION
Krita_Artists_SeExpr_examples.bundle
Krita_4_Default_Resources.bundle
Krita_3_Default_Resources.bundle
gradients/GPS-Steel-Bars.ggr
gradients/GPS-Simple-Smoke.ggr
gradients/GPS-Nature_Grass.ggr
gradients/GPS-Nature-random-greens.ggr
gradients/GPS-Nature-Pure-greens.ggr
gradients/GPS-Nature-browns-copy.ggr
gradients/GPS-Light-Saber-_Use-FG-color_.ggr
gradients/GPS-Haze-and-Atmosphere.ggr
gradients/GPS-Fire-Life-Span.ggr
gradients/GPS-Fire-Incandescent.ggr
gradients/GPS-Fire-Dust.ggr
gradients/GPS-Fire-Dust-Blended.ggr
gradients/GPS-Fire-Burning-Cloud.ggr
gradients/GPS-Fire-Blueish.ggr
gradients/GPS-FG-Glare.ggr
gradients/GPS-eye-_Blue_.ggr
gradients/BG-Krita2.ggr
gamutmasks/Split_Complementary.kgm
gamutmasks/Shifted_Triad.kgm
gamutmasks/Dominant_Hue_With_Accent.kgm
gamutmasks/Complementary.kgm
gamutmasks/Atmospheric_Triad.kgm
gamutmasks/Atmosphere_With_Accent.kgm
brushes/triangle.svg

# Other
